body{
  background-color: #9272CF
}

h1{
  text-align: center;
  text-shadow: 5px 5px #CF728F;
  font-size: 600%;
  font-family: "Bebas Neue", cursive;
  outline: 5px solid black;
}

h2{
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

#propic{
  box-shadow: 10px 10px #8FCF72;
}

#webss{
  box-shadow: 10px 10px #C2DFFF;
}
