body{
  background-color: #9272CF
}

h1{
  text-align: center;
  text-shadow: 5px 5px #CF728F;
  font-size: 600%;
  font-family: "Bebas Neue", cursive;
  outline: 5px solid black;
}

h2{
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

#grid{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
}

.row{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.assignment{
  display: flex;
}

.text{
  align-self: flex-end;
  justify-content: center;
  text-align: center;
  font-size: 125%;
  font-family: "Bebas Neue", cursive;
  visibility: hidden;
  opacity: 0;
  text-shadow: 1.25px 1.25px white;
}

.assignment:hover{
  transform: scale(1.25);
  transition-duration: 0.5s;
  cursor: pointer;
}

.photo:hover{
  opacity: 0.15;
}

.assignment:hover ~ .text{
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

#webss{
  box-shadow: 10px 10px #C2DFFF;
}

#waysofseeing{
  box-shadow: 10px 10px #3C0000;
}

#personaleffects{
  box-shadow: 10px 10px #C7BC3C;
}

#midterm{
  box-shadow: 10px 10px #2D0032;
}

#cssanimation{
  box-shadow: 10px 10px #F535AA;
}

#netart{
  box-shadow: 10px 10px #36454F;
}

#notdone{
  box-shadow: 10px 10px #D3D3D3;
}
