body{
  background-color: #9272CF
}

h1{
  text-align: center;
  text-shadow: 5px 5px #CF728F;
  font-size: 600%;
  font-family: "Bebas Neue", cursive;
}

#main{
  margin-left: calc(50% - 50vw);
  margin-top: -10px;
  width: 100vw;
  background-color: white;

}

h2{
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

#grid{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
}

.row{
  display: flex;
  justify-content: space-around;
}

.photo{
  position: relative;
}

.text{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 5%;
  left: 3%;
  font-family: "Bebas Neue", cursive;
  background: white;
  color: #CF728F;
  padding: 5px;
}

.photo:hover{
  transform: scale(1.25);
  transition-duration: 0.5s;
  cursor: pointer;
}

.photo:hover div{
  visibility: visible;
  opacity: 1;
  transition-duration: 0.5s;
}

.opacity:hover{
  opacity: 0.15;
  transition-duration: 0.5s;
}

#webss{
  box-shadow: 10px 10px #C2DFFF;
}

#waysofseeing{
  box-shadow: 10px 10px #3C0000;
}

#personaleffects{
  box-shadow: 10px 10px #C7BC3C;
}

#midterm{
  box-shadow: 10px 10px #2D0032;
}

#cssanimation{
  box-shadow: 10px 10px #F535AA;
}

#netart{
  box-shadow: 10px 10px #36454F;
}

#buttons{
  box-shadow: 10px 10px #D3D3D3;
}

#medium{
  box-shadow: 10px 10px #AA336A;
}
