body {
  background-color: #F5F5F5
}
img{
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
h1{
  background-color: #2471A3;
  text-align: center;
  border: 3px solid black;
  font-family: Courier;
  font-size: 550%
}
#p1{
  padding-right: 20px;
  font-family: "Courier New", monospace;
  color: grey;
  font-size: 132%
}
#p2{
  padding-right: 20px;
  font-family: "Courier New", monospace;
  color: grey;
  font-size: 132%
}
#p3{
  padding-right: 20px;
  padding-left: 20px;
  color: #2471A3;
  text-align: center;
  font-size: 155%
}
