body{
    margin:0;
    background-color: #919191;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* HOME/MAIN SECTION */
.home-main{
    margin: 7% 0 0 0;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.nine-eyes{
    /* background-color: aquamarine; */
    display:block;
    align-items:center;
    justify-content: center;

}
img{
    align-self:center;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:#661B1C
}
.button-left{
    color:white;
    font-size:5rem;
    font-family: 'Times New Roman', Times, serif;
}
.button-right{
    color: white;
    font-size:5rem;
    font-family: 'Times New Roman', Times, serif;

}

/* SECTION HEADER SECTION */
.section-nav{
    padding: 2rem 5rem 0rem 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main-content{
    margin: 0rem 6rem 5rem 6rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-evenly;
    align-items:center;
}
.main-image{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    position:relative;
}
.image-left-button{
    display: flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    position:absolute;
    top:40%;
    left:0;
    width:inherit;
}
.image-right-button{
    display: flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    position:absolute;
    top:40%;
    right:0;
    width:inherit;
}
.section-title{
    margin-top:1rem;
    text-align: center;
    font-size: 3rem;
}
.section-left-button{
    color:white;
    font-size:3rem;
    font-family: 'Times New Roman', Times, serif;
}
.section-right-button{
    color:white;
    font-size:3rem;
    font-family: 'Times New Roman', Times, serif;
}
.image-left-button{
    font-size:5rem;
}
.image-right-button{
    font-size:5rem;
}



/* SECTION DESC SECTION */
.section-desc{
    text-align:left;
    margin: 2% 20% 10% 20%;
    font-size:1.2rem;
}
.row-center{
    margin: 2% 20% 10% 20%;

    display:flex;
    flex-direction: row;
    justify-content: center;
}
#resources{
    margin: 2% 20% 10% 20%;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
}



/* MEDIA QUERY SECTION */
@media screen and (max-width: 600px) {
    .home-main{
        flex-flow: row wrap;
    }
    .button-left {
      order:1
    }
    .button-right {
        order:2
    }
    .image-left-button {
        order:1;
        top:80%;
        left:25%
    }
    .image-right-button {
        order:1;
        top:80%;
        right:25%
    }
  }
