body{
  background-image: linear-gradient(to right, white , black);
}

.topbar{
  display: flex;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Kalam', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
}
