body {
	font-family: "Montserrat";
}

.flex-container {
	padding-right: 100px;
    padding-left: 50px;
    display: flex;
   	justify-content: flex-start;
}
.username {
	text-align: left;
	padding-left: 50px;
}
.image {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}
.react {
	font-size: 50px;
	padding-left: 350px;
	display: flex;
	justify-content: left;

}
.engagement{
	padding-left: 350px;
	display: flex;
	justify-content: flex-start;
	color: gray;

}
.caption {
	padding-left: 350px;
	padding-right: 350px;
	justify-content: center;
}

.comment{
	padding-left: 350px;
	padding-right: 350px;
	justify-content: center;

}
